#**Data cleaning and manipulation using Pandas and Numpy**
##**Dataset:**
1. Data-cleaning-for-beginners-using-pandas.csv (data)


 **Columns:**
-	Age
-	Salary
-	Rating
-	Location
-	Established
-	Easy Apply

1. Data Cleaning dataset
- Importing the libraries

In [ ]:
# importing libraries
import numpy as np
import pandas as pd

- Reading the data

In [ ]:
data = pd.read_csv("/content/drive/MyDrive/Week 3 - Data Cleaning (Pandas) - 1/Data-cleaning-for-beginners-using-pandas.csv")

- Printing the dataset

In [ ]:
data

    Index   Age      Salary  Rating       Location  Established Easy Apply
0       0  44.0   $44k-$99k     5.4       India,In         1999       TRUE
1       1  66.0   $55k-$66k     3.5    New York,Ny         2002       TRUE
2       2   NaN   $77k-$89k    -1.0    New York,Ny           -1         -1
3       3  64.0   $44k-$99k     4.4       India In         1988         -1
4       4  25.0   $44k-$99k     6.4  Australia Aus         2002         -1
5       5  44.0   $77k-$89k     1.4       India,In         1999       TRUE
6       6  21.0   $44k-$99k     0.0    New York,Ny           -1         -1
7       7  44.0   $44k-$99k    -1.0  Australia Aus           -1         -1
8       8  35.0   $44k-$99k     5.4    New York,Ny           -1         -1
9       9  22.0   $44k-$99k     7.7       India,In           -1       TRUE
10     10  55.0   $10k-$49k     5.4       India,In         2008       TRUE
11     11  44.0   $10k-$49k     6.7       India,In         2009         -1
12     12   NaN   $44k-$99k     0.0       India,In         1999         -1
13     13  25.0   $44k-$99k    -1.0  Australia Aus         2019       TRUE
14     14  66.0   $44k-$99k     4.0  Australia Aus         2020       TRUE
15     15  44.0  $88k-$101k     3.0  Australia Aus         1999         -1
16     16  19.0   $19k-$40k     4.5       India,In         1984         -1
17     17   NaN   $44k-$99k     5.3    New York,Ny         1943       TRUE
18     18  35.0   $44k-$99k     6.7    New York,Ny         1954       TRUE
19     19  32.0   $44k-$99k     3.3    New York,Ny         1955       TRUE
20     20   NaN   $44k-$99k     5.7    New York,Ny         1944       TRUE
21     21  35.0   $44k-$99k     5.0    New York,Ny         1946         -1
22     22  19.0   $55k-$66k     7.8    New York,Ny         1988       TRUE
23     23   NaN   $44k-$99k     2.4    New York,Ny         1999       TRUE
24     24  13.0   $44k-$99k    -1.0    New York,Ny         1987         -1
25     25  55.0   $44k-$99k     0.0  Australia Aus         1980       TRUE
26     26   NaN   $55k-$66k     NaN       India,In         1934       TRUE
27     27  52.0   $44k-$99k     5.4       India,In         1935         -1
28     28   NaN   $39k-$88k     3.4  Australia Aus         1932         -1

- Copying the dataset (To preserve the content of original dataset)

In [ ]:
copy_data=data.copy()

- Converting the column name to lower case and removing the space

In [ ]:
copy_data.columns=copy_data.columns.str.lower().str.replace(" ","_")

- Printing the first 5 columns of the uncleaned dataset

In [ ]:
copy_data.head()

   index   age     salary  rating       location  established easy_apply
0      0  44.0  $44k-$99k     5.4       India,In         1999       TRUE
1      1  66.0  $55k-$66k     3.5    New York,Ny         2002       TRUE
2      2   NaN  $77k-$89k    -1.0    New York,Ny           -1         -1
3      3  64.0  $44k-$99k     4.4       India In         1988         -1
4      4  25.0  $44k-$99k     6.4  Australia Aus         2002         -1

- Printing the last 5 columns of the uncleaned dataset

In [ ]:
copy_data.tail()

    index   age     salary  rating       location  established easy_apply
24     24  13.0  $44k-$99k    -1.0    New York,Ny         1987         -1
25     25  55.0  $44k-$99k     0.0  Australia Aus         1980       TRUE
26     26   NaN  $55k-$66k     NaN       India,In         1934       TRUE
27     27  52.0  $44k-$99k     5.4       India,In         1935         -1
28     28   NaN  $39k-$88k     3.4  Australia Aus         1932         -1

- Getting the shape of the dataset

In [ ]:
copy_data.shape

(29, 7)

- Getting more information about the dataset

In [ ]:
copy_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   index        29 non-null     int64
 1   age          22 non-null     float64
 2   salary       29 non-null     object
 3   rating       28 non-null     float64
 4   location     29 non-null     object
 5   established  29 non-null     int64
 6   easy_apply   29 non-null     object
dtypes: float64(2), int64(2), object(3)
memory usage: 1.7+ KB

- Finding the total null values in each columns
 1. isnull() - To find the null values
 2. sum() - To find the sum of all the null values

In [ ]:
copy_data.isnull().sum()

index          0
age            7
salary         0
rating         1
location       0
established    0
easy_apply     0
dtype: int64

- Finding the average age

In [ ]:
avg_age = copy_data['age'].mean()
avg_age

39.04545454545455

- Replacing the null values with average age
 1. fillna(avg_age) - Replacing the null values with average age
 2. sum() - To round the float values
 3. astype(int) - To convert the datatype to integer

In [ ]:
copy_data['age'] = copy_data.age.fillna(avg_age).round().astype(int)
copy_data.head()

   index  age     salary  rating       location  established easy_apply
0      0   44  $44k-$99k     5.4       India,In         1999       TRUE
1      1   66  $55k-$66k     3.5    New York,Ny         2002       TRUE
2      2   39  $77k-$89k    -1.0    New York,Ny           -1         -1
3      3   64  $44k-$99k     4.4       India In         1988         -1
4      4   25  $44k-$99k     6.4  Australia Aus         2002         -1

- Checking the dataset info

In [ ]:
copy_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   index        29 non-null     int64
 1   age          29 non-null     int64
 2   salary       29 non-null     object
 3   rating       28 non-null     float64
 4   location     29 non-null     object
 5   established  29 non-null     int64
 6   easy_apply   29 non-null     object
dtypes: float64(1), int64(3), object(3)
memory usage: 1.7+ KB

- Removing '$' and Replacing 'k' with '000' using str.replace()

In [ ]:
copy_data['salary'] = copy_data['salary'].str.replace('$', '').str.replace('k', '000')
copy_data.head()

<ipython-input-50-181c6ef75e46>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  copy_data['salary'] = copy_data['salary'].str.replace('$', '').str.replace('k', '000')

   index  age       salary  rating       location  established easy_apply
0      0   44  44000-99000     5.4       India,In         1999       TRUE
1      1   66  55000-66000     3.5    New York,Ny         2002       TRUE
2      2   39  77000-89000    -1.0    New York,Ny           -1         -1
3      3   64  44000-99000     4.4       India In         1988         -1
4      4   25  44000-99000     6.4  Australia Aus         2002         -1

- Splitting the 'salary' column into 'min_salary' and 'max_salary' and converting them to integer type

In [ ]:
copy_data[['min_salary', 'max_salary']] = copy_data['salary'].str.split('-', expand=True)

# Converting both columns to integers
copy_data['min_salary'] = copy_data['min_salary'].astype(int)
copy_data['max_salary'] = copy_data['max_salary'].astype(int)

# Dropping the 'salary' column
copy_data = copy_data.drop('salary', axis=1)

copy_data.head()

,index,age,rating,location,established,easy_apply,min_salary,max_salary
0,0,44,5.4,"India,In",1999,TRUE,44000,99000
1,1,66,3.5,"New York,Ny",2002,TRUE,55000,66000
2,2,39,-1.0,"New York,Ny",-1,-1,77000,89000
3,3,64,4.4,India In,1988,-1,44000,99000
4,4,25,6.4,Australia Aus,2002,-1,44000,99000

- Checking the dataset info

In [ ]:
copy_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   index        29 non-null     int64
 1   age          29 non-null     int64
 2   rating       28 non-null     float64
 3   location     29 non-null     object
 4   established  29 non-null     int64
 5   easy_apply   29 non-null     object
 6   min_salary   29 non-null     int64
 7   max_salary   29 non-null     int64
dtypes: float64(1), int64(5), object(2)
memory usage: 1.9+ KB

- Counting number of -1.0 present in 'rating' column

In [ ]:
count_of_minus_one = (copy_data['rating'] == -1.0).sum()
count_of_minus_one

4

- Replacing -1.0 rating with 0.0 rating

In [ ]:
copy_data['rating'] = copy_data['rating'].replace(-1, 0)
copy_data.head()

,index,age,rating,location,established,easy_apply,min_salary,max_salary
0,0,44,5.4,"India,In",1999,TRUE,44000,99000
1,1,66,3.5,"New York,Ny",2002,TRUE,55000,66000
2,2,39,0.0,"New York,Ny",-1,-1,77000,89000
3,3,64,4.4,India In,1988,-1,44000,99000
4,4,25,6.4,Australia Aus,2002,-1,44000,99000

- Counting number of '-1' in 'established' column

In [ ]:
count_of_minus_one_established = (copy_data['established'] == -1).sum()
count_of_minus_one_established

5

- Finding the Mode value (Frequently occuring value)
  
  (Here, iloc[1] indexer is used for selection by position)

In [ ]:
mode_established = copy_data['established'].mode().iloc[1]
mode_established

1999

- Replacing Mode value with '-1' in 'established' column

In [ ]:
copy_data['established'] = copy_data['established'].replace(-1, mode_established)
copy_data.head()

,index,age,rating,location,established,easy_apply,min_salary,max_salary
0,0,44,5.4,"India,In",1999,TRUE,44000,99000
1,1,66,3.5,"New York,Ny",2002,TRUE,55000,66000
2,2,39,0.0,"New York,Ny",1999,-1,77000,89000
3,3,64,4.4,India In,1988,-1,44000,99000
4,4,25,6.4,Australia Aus,2002,-1,44000,99000

- Formatting String in 'location' column

In [ ]:
copy_data['location'] = copy_data['location'].replace({'New York,Ny':'New York', 'India,In':'India','India In':'India', 'Australia Aus':'Australia'})
copy_data.head()

,index,age,rating,location,established,easy_apply,min_salary,max_salary
0,0,44,5.4,India,1999,TRUE,44000,99000
1,1,66,3.5,New York,2002,TRUE,55000,66000
2,2,39,0.0,New York,1999,-1,77000,89000
3,3,64,4.4,India,1988,-1,44000,99000
4,4,25,6.4,Australia,2002,-1,44000,99000

- Checking the dataset info

In [ ]:
copy_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   index        29 non-null     int64
 1   age          29 non-null     int64
 2   rating       28 non-null     float64
 3   location     29 non-null     object
 4   established  29 non-null     int64
 5   easy_apply   29 non-null     object
 6   min_salary   29 non-null     int64
 7   max_salary   29 non-null     int64
dtypes: float64(1), int64(5), object(2)
memory usage: 1.9+ KB

- Converting datatype of 'location' column from object to string

In [ ]:
copy_data['location'] = copy_data['location'].astype('string')
copy_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   index        29 non-null     int64
 1   age          29 non-null     int64
 2   rating       29 non-null     float64
 3   location     29 non-null     string
 4   established  29 non-null     int64
 5   easy_apply   29 non-null     bool
 6   min_salary   29 non-null     int64
 7   max_salary   29 non-null     int64
dtypes: bool(1), float64(1), int64(5), string(1)
memory usage: 1.7 KB

- Finding the unique values in 'easy_apply' column

In [ ]:
unique_values_count = copy_data['easy_apply'].unique()
unique_values_count

array(['TRUE', '-1'], dtype=object)

- Necessary replacements
  
  1. From 'TRUE' to True
  2. From '-1' to False

In [ ]:
copy_data['easy_apply'] = copy_data['easy_apply'].replace('TRUE', True)

copy_data['easy_apply'] = copy_data['easy_apply'].replace('-1', False)

copy_data.head()

,index,age,rating,location,established,easy_apply,min_salary,max_salary
0,0,44,5.4,India,1999,True,44000,99000
1,1,66,3.5,New York,2002,True,55000,66000
2,2,39,0.0,New York,1999,False,77000,89000
3,3,64,4.4,India,1988,False,44000,99000
4,4,25,6.4,Australia,2002,False,44000,99000

- Converting the 'easy_apply' column to Boolean datatype

In [ ]:
copy_data['easy_apply'] = copy_data['easy_apply'].astype(bool)
#Checking dataset info
copy_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   index        29 non-null     int64
 1   age          29 non-null     int64
 2   rating       28 non-null     float64
 3   location     29 non-null     string
 4   established  29 non-null     int64
 5   easy_apply   29 non-null     bool
 6   min_salary   29 non-null     int64
 7   max_salary   29 non-null     int64
dtypes: bool(1), float64(1), int64(5), string(1)
memory usage: 1.7 KB

- Found 1 null value in 'rating' column

In [ ]:
copy_data['rating'].isnull().sum()

1

- Finding the average rating

In [ ]:
mean_rating=copy_data['rating'].mean()
mean_rating

3.6714285714285717

- Replacing the null value with the average rating

In [ ]:
copy_data['rating'] = copy_data.rating.fillna(mean_rating).round(decimals=1)
copy_data.head()

,index,age,rating,location,established,easy_apply,min_salary,max_salary
0,0,44,5.4,India,1999,True,44000,99000
1,1,66,3.5,New York,2002,True,55000,66000
2,2,39,0.0,New York,1999,False,77000,89000
3,3,64,4.4,India,1988,False,44000,99000
4,4,25,6.4,Australia,2002,False,44000,99000

- Checking for null values in the dataset

In [ ]:
copy_data.isnull().sum()

index          0
age            0
rating         0
location       0
established    0
easy_apply     0
min_salary     0
max_salary     0
dtype: int64

- Checking the dataset info

In [ ]:
copy_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   index        29 non-null     int64
 1   age          29 non-null     int64
 2   rating       29 non-null     float64
 3   location     29 non-null     string
 4   established  29 non-null     int64
 5   easy_apply   29 non-null     bool
 6   min_salary   29 non-null     int64
 7   max_salary   29 non-null     int64
dtypes: bool(1), float64(1), int64(5), string(1)
memory usage: 1.7 KB

- Printing the dataset

In [ ]:
copy_data

,index,age,rating,location,established,easy_apply,min_salary,max_salary
0,0,44,5.4,India,1999,True,44000,99000
1,1,66,3.5,New York,2002,True,55000,66000
2,2,39,0.0,New York,1999,False,77000,89000
3,3,64,4.4,India,1988,False,44000,99000
4,4,25,6.4,Australia,2002,False,44000,99000
5,5,44,1.4,India,1999,True,77000,89000
6,6,21,0.0,New York,1999,False,44000,99000
7,7,44,0.0,Australia,1999,False,44000,99000
8,8,35,5.4,New York,1999,False,44000,99000
9,9,22,7.7,India,1999,True,44000,99000
10,10,55,5.4,India,2008,True,10000,49000
11,11,44,6.7,India,2009,False,10000,49000
12,12,39,0.0,India,1999,False,44000,99000
13,13,25,0.0,Australia,2019,True,44000,99000
14,14,66,4.0,Australia,2020,True,44000,99000
15,15,44,3.0,Australia,1999,False,88000,101000
16,16,19,4.5,India,1984,False,19000,40000
17,17,39,5.3,New York,1943,True,44000,99000
18,18,35,6.7,New York,1954,True,44000,99000
19,19,32,3.3,New York,1955,True,44000,99000
20,20,39,5.7,New York,1944,True,44000,99000
21,21,35,5.0,New York,1946,False,44000,99000
22,22,19,7.8,New York,1988,True,55000,66000
23,23,39,2.4,New York,1999,True,44000,99000
24,24,13,0.0,New York,1987,False,44000,99000
25,25,55,0.0,Australia,1980,True,44000,99000
26,26,39,3.7,India,1934,True,55000,66000
27,27,52,5.4,India,1935,False,44000,99000
28,28,39,3.4,Australia,1932,False,39000,88000